
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    background-color: var(--cor-cinza-escuro);
    color: var(--cor-branco);
    font-family: var(--fonte-principal);
    width: 100%;
    height: 100vh;
}

.container{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
    overflow: hidden;
}


.rodape{
    height: 10%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


