.container__transmissao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 70%;
}

.icone__amarelo{
    background-color: var(--cor-amarelo);
    color: var(--cor-cinza-claro);
    border-radius: 6px;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.icone__amarelo i{
    font-size: 19px;
}

.transmissao__cards{
    display: flex;
    gap: 1rem;
    height: 100%;
}

.transmissao__cards-principal{
    border: 2px solid var(--cor-azul);
    border-radius: 6px;
    width: 80%;
    position: relative;
}

.transmissao__cards-principal img{
    width: 100%;
    height: 100%;
}

.transmissao__cards-principal p{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.transmissao__cards-principal-icone{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: var(--cor-azul);
    border-radius: 50%;
    padding: 0.3rem;
}

.transmissao__cards-secundarios{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.transmissao__cards-secundarios-item{
    background-color: var(--cor-cinza-claro);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 1.5rem;
    width: 100%;
    
}

.transmissao__cards-secundarios-item:last-child{
    padding-top: 1rem;
    padding-bottom: 0.4rem;
    gap: 0.7rem;
}

.transmissao__cards-secundarios-item-microfone{
    position:  absolute;
    right: 10px;
    top: 10px;
    background-color: var(--cor-cinza-escuro);
    border-radius: 50%;
    padding: 0.2rem;
    font-size: 0.9rem;
}

.transmissao__cards-secundarios-item img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}


.transmissao__cards-secundarios-item h2{
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  align-items: flex-start;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}


.ultimo-card-imgs-divididas{
    display: flex;
    position: relative;
    width: 40%;
}

.ultimo-card-imgs-divididas img{
    width: 40px;
    height: 40px;
    border-radius: 50%;  
}

.ultimo-card-imgs-divididas img:first-child {
    align-items: flex-start;
}

.ultimo-card-imgs-divididas img:last-child {
    position: absolute;
    right: 0;
 
}

.ultimo-card-titulo{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 0.5rem;
    padding-top: 0.6rem;
}